body {
    /*
    *this is an user defined style or a custom 
    *css property. this prop will always reach the 
    *shadow dom!
    */
    --theme-colour: #7a7a7a; 
    background-color: #2a3e4d;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

/*
@media only screen and (max-width: 1100px) {

    body {
        font-size: 24px;
    }
}
*/

#parent {
    margin: 0 auto;
    background-color: rebeccapurple;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center; /* center the card items in the container */
}
h1 {
    /*
    *here i use the user defined style
    */
    color: var(--theme-colour);
    text-align: center;
}
#floatingButton {
    position: fixed;
    right: 5em;
    bottom: 5em;
}
