body {
    /*
    *this is an user defined style or a custom 
    *css property. this prop will always reach the 
    *shadow dom!
    */
    --theme-colour: #909497; 
    background-color: #CACFD2;
    width: 960px;
}
#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 970px;
    min-width: 600px;
}
h1 {
    /*
    *here i use the user defined style
    */
    color: var(--theme-colour);
}
#floatingButton {
    position: fixed;
    right: 5em;
    bottom: 5em;
}
