body {
    /*
    *this is an user defined style or a custom 
    *css property. this prop will always reach the 
    *shadow dom!
    */
    --theme-colour: #7a7a7a; 
    background-color: #2a3e4d;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    padding: 50px;
}

#parent {
    background-color: rebeccapurple;
    padding: 50px;
    min-width: 800px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center; /* center the card items in the container */
    background-color: salmon;
}

h1 {
    /*
    *here i use the user defined style
    */
    color: var(--theme-colour);
    text-align: center;
    background: red;
}

#floatingButton {
    position: fixed;
    right: 10px;
    bottom: 20px;
}

@media only screen and (max-width: 1080px) and (orientation: portrait){
    body {
        font-size: 24px;
    }
    #container {
        background-color: sienna;
    }
}
